.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__heading {
  display: flex;
  gap: 12px;
}

.form__add-btn, .form__remove-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  width: max-content;
  background: var(--accent-color);
  color: white;
}

.form__add-btn:hover, .form__remove-btn:hover {
  opacity: 0.9;
}

.form__add-btn:active, .form__remove-btn:active {
  opacity: 0.8;
}

.form__input-groups {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input, textarea {
  outline-color: var(--accent-color);
}

.form__remove-btn {
  margin-top: 4px;
}