/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/* Variables */
:root {
  --accent-color: #3c78d8;
  --text-color: #272624;
  --system-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

/* General rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', var(--system-font-stack);
  color: var(--text-color);
}

h1, h2 {
  margin: 0;
}

button {
  cursor: pointer;
}