@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

.resume-section {
  position: sticky;
  top: 20px;
}

.resume-border {
  padding: 10px;
  background: #e7e7e7;
}

.resume {
  display: flex;
  flex-direction: column;
  width: 22cm;
  height: 28cm;
  padding: 1.3cm 1.4cm 1.3cm 1.4cm;
  background: white;
  font-family: 'Merriweather', serif;
  font-size: 9.5pt;
  color: #2e3d50;
}

.name {
  font-size: 1.65em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 16px;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 0.75em;
  font-weight: 300;
  padding-bottom: 8px;
}

.contact__info {
  display: flex;
  gap: 4px;
}

hr {
  margin: 10px auto;
  width: 100%;
  border-top: 1px solid rgba(44, 62, 80, 0.1);
  border-bottom: 0;
}

.section__header {
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1.35em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 0.12em solid #000;
  margin-bottom: 4px;  
}

.item {
  margin-bottom: 0.8em;
}

.item__header {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
}

.item__description {
  font-size: 0.85em;
  font-weight: 100;
  line-height: 1.5em;
}

.download-btn {

}